<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <bean id="messageService" class="com.github.eugeneviktorovich.services.MessageService"/>

  <bean id="collectionService" class="com.github.eugeneviktorovich.services.CollectionService"/>

  <bean id="writer" class="com.github.eugeneviktorovich.utils.MessageWriter"/>

  <bean id="collector" class="com.github.eugeneviktorovich.utils.Collector">
    <property name="collectionService" ref="collectionService"/>
    <property name="messageService" ref="messageService"/>
    <property name="writer" ref="writer"/>
  </bean>

</beans>